<div class="teams-container">
  <!-- Column 1: Team list -->
  <div class="team-list">
    <% if current_user.admin? %>
      <button class="add-button">+ Add new team member</button>
    <% end %>

    <ul id="team-member-list" data-controller="teams">
      <% @users.each do |user| %>
        <li class="team-member"
            data-full-name="<%= user.full_name %>"
            data-job-position="<%= user.job_position %>"
            data-team="<%= user.team %>"
            data-location="<%= user.location %>"
            data-email="<%= user.email %>">
          <div class="member-card">
            <%= image_tag("default_avatar.png", class: "avatar") %>
            <div>
              <div class="name"><%= user.full_name %></div>
              <div class="position"><%= user.job_position %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Column 2: User details -->
  <div class="user-panel">
    <div class="user-card hidden" id="user-details">
      <!-- Initially hidden -->
    </div>
  </div>

  <!-- Column 3: Map -->
  <% users_with_coords = @users.select { |u| u.latitude.present? && u.longitude.present? } %>
<% users_with_coords = @users.select { |u| u.latitude.present? && u.longitude.present? } %>

<div
  id="map"
  class="map-placeholder"
  data-controller="map"
  data-map-users-value='<%= raw(users_with_coords.map { |u|
    {
      full_name: u.full_name,
      location: u.location,
      lat: u.latitude,
      lng: u.longitude
    }
  }.to_json) %>'
  data-map-mapbox-api-key-value="pk.eyJ1IjoibWlnejIyMDUiLCJhIjoiY21hemc4ZzJiMGJzcjJsc2Fxdm83MDdweiJ9.yu0zSvl3tEeW55Rw9wjFjA"
></div>
