<div class="teams-container" data-controller="teams">
  <div class="team-list">
    <!-- Team Member List -->
    <ul id="team-member-list">
      <% @users.each do |user| %>
        <li class="team-member"
            data-full-name="<%= user.capitalized_full_name %>"
            data-job-position="<%= user.job_position %>"
            data-team="<%= user.team %>"
            data-location="<%= user.capitalized_location %>"
            data-email="<%= user.display_email %>"
            data-avatar-url="https://api.dicebear.com/9.x/avataaars/svg?seed=<%= user.id %>">
          <div class="member-card">
            <%= image_tag(
              "https://api.dicebear.com/9.x/avataaars/svg?seed=#{user.id}",
              alt: "#{user.capitalized_full_name}'s avatar",
              class: "avatar"
            ) %>
            <div>
              <div class="name"><%= user.capitalized_full_name %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="user-panel">
    <div class="user-card hidden" id="user-details"></div>
  </div>


  <div id="map"
       class="map-placeholder"
       data-controller="map"
       data-map-users-value='<%= raw @users.select { |u| u.latitude && u.longitude }.map { |u|
         {
           full_name: u.capitalized_full_name,
           location: u.capitalized_location,
           lat: u.latitude,
           lng: u.longitude
         }
       }.to_json %>'
       data-map-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
