// app/views/users/create.js.erb

const list = document.getElementById("team-member-list");

const newMember = document.createElement("li");
newMember.className = "team-member";
newMember.dataset.fullName = "<%= @user.full_name %>";
newMember.dataset.jobPosition = "<%= @user.job_position %>";
newMember.dataset.team = "<%= @user.team %>";
newMember.dataset.location = "<%= @user.location %>";
newMember.dataset.email = "<%= @user.email %>";

newMember.innerHTML = `
  <div class="member-card">
    <img src="/assets/default_avatar.png" class="avatar" />
    <div>
      <div class="name"><%= @user.full_name %></div>
      <div class="position"><%= @user.job_position %></div>
    </div>
  </div>
`;

list.appendChild(newMember);

// reset form
document.getElementById("create-team-member-form").reset();
document.getElementById("new-member-form").classList.add("hidden");
