<div class="card-mood">
  <h4 id="mood-title"><%= title %></h4>

  <div class="moodtracker-bar">
  <div class="progress flex-grow-1">
    <div class="progress-bar" role="progressbar" style="width: <%= data[:happy] %>%; background-color:#93F271;">
      <p class="emoji-percentage">😀 <%= data[:happy] %>%</p>
    </div>
  </div>
</div>

<div class="moodtracker-bar">
  <div class="progress flex-grow-1">
    <div class="progress-bar" role="progressbar" style="width: <%= data[:neutral] %>%; background-color:#FFEC1C;">
      <p class="emoji-percentage">😐 <%= data[:neutral] %></p>
    </div>
  </div>
</div>

<div class="moodtracker-bar">
  <div class="progress flex-grow-1">
    <div class="progress-bar" role="progressbar" style="width: <%= data[:sad] %>%; background-color:#FF7272;">
      <p class="emoji-percentage">☹️ <%= data[:sad] %>%</p>
    </div>
  </div>
</div>


  <div class="comparison-data">
    <%= render "shared/comparison" %>
  </div>

  <div class="emoji-container-strip">
      <%= render "shared/emojis", emojis: emojis %>
  </div>
</div>
