
<div class="mood-bar d-flex" >

    <div class="companymood-box" style="background-image: linear-gradient(to right, #CCCCFF, #CCCCFF, <%= color_company %>, <%= color_company %>)">
      <p> COMPANY MOOD  <%= emoji_company %></p>
    </div>
    <div class="teammood-box" style="background-image: linear-gradient(to right, #CCCCFF, #CCCCFF, <%= color_team %>, <%= color_team %>)" >
      <p> TEAM MOOD  <%= emoji_team %></p>
    </div>

</div>
