<div class="card-mood">
    <h3>TEAM MOOD</h3>
    <div class="d-flex" style="height: 28px; font-size: 20px; margin-bottom:20px; margin-top:20px;">
      <div class="progress flex-grow-1" style="height: 28px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @percentage[:happy] %>%; background-color: green;">
        </div>
      </div>
      <p class="ps-3"><%= @percentage[:happy] %> % 😀</p>
    </div>
    <div class="d-flex" style="height: 28px; font-size: 20px; margin-bottom:20px;">
      <div class="progress flex-grow-1" style="height: 28px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @percentage[:neutral] %>%; background-color: orange;">
        </div>
      </div>
      <p class="ps-3"><%= @percentage[:neutral] %>% 😐 </p>
    </div>
    <div class="d-flex" style="height: 28px; font-size: 20px; margin-bottom:20px;">
      <div class="progress flex-grow-1" style="height: 28px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @percentage[:sad] %>%; background-color: red;">
        </div>
      </div>
        <p><%= @percentage[:sad] %>% ☹️  </p>
      </div>
      <div>
      <%= render "shared/comparison" %>
    </div>
    <%= render "shared/emojis" %>
  </div>
