<div class="moodtracker-wrapper">
  <div class="date-dropdown">
        <%= form_with url: request.path, method: :get, local: true do %>
        <%= select_tag :range, options_for_select([
        ['Last Week', 'last week'],
        ['Last month', 'last month'],
        ['Last 6 months', 'last 6 months']
        ], params[:range]), class: "form-select", onchange: "this.form.submit();" %>
        <% end %>
  </div>

  <div class="moodtracker-container" id="mood-cards">

        <!-- My Mood -->
    <div class="moodtracker-card">
        <div class="my-mood-render">

          <%= render "shared/mood_card_all", title: "ME", data: @percentage, emojis: @percentage[:emojis], trends: @user_trends %>

        </div>
    </div>

    <!-- Team Mood -->
    <div class="moodtracker-card" id="team-mood-card">
        <div class="team-mood-render">

            <%= render "shared/mood_card_all", title: "TEAM", data: @team, emojis: @team[:emojis], trends: @team_trends %>

        </div>
    </div>

    <!-- Company Mood -->
    <div class="moodtracker-card">
      <div class="company-mood-render">

        <%= render "shared/mood_card_all", title: "COMPANY", data: @company, emojis: @company[:emojis], trends: @company_trends%>

      </div>
    </div>

  </div>
</div>
