<div class="moodtracker-wrapper">
<h1> am i here </h1>
  <div class="moodtracker-container" id="mood-cards">
    <!-- My Mood -->
    <div class="card mood">
        <!-- Column 1: My Mood -->
        <div class="column">
          <%= render "shared/mood_card_all", form_url: request.path, title: "#{current_user.first_name} MOOD", data: @percentage, emojis: @percentage[:emojis] %>

        </div>
        <div class="my-mood-render">
          <%= render "shared/mood_card_all", title: "MY MOOD", data: @percentage, emojis: @percentage[:emojis] %>


    <!-- Company Mood -->
    <div class="card mood">
      <%= render "shared/mood_card_all", form_url: request.path, title: "COMPANY MOOD", data: @company, emojis: @company[:emojis] %>
    </div>

    <!-- Team Mood -->
    <div class="card mood" id="team-mood-card">
      <% if current_user.admin? %>
        <div id="team-mood-section" style="display: none;">
          <%= render "shared/admin_team_mood" %>
        </div>
        <div id="personal-team-mood">
          <%= render "shared/mood_card_all", form_url: request.path, title: "TEAM MOOD", data: @team, emojis: @team[:emojis] %>
        </div>
      <% else %>
        <%= render "shared/mood_card_all", form_url: request.path, title: "TEAM MOOD", data: @team, emojis: @team[:emojis] %>
      <% end %>
    </div>
  </div>
</div>
