<h1>Create a new event</h1>

<% if current_user.admin?  %>

  <%= form_with model: @event do |f| %>
    <%= f.label :name, placeholder:"Creat a new event" %>
    <%= f.text_field :description %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :start_date %>
    <%= f.number_field :start_date %>
    <%= f.label :end_date %>
    <%= f.number_field :end_date %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back to Events", events_path %>
<% end %>
