<h1>Create a new event</h1>

<% if current_user.admin?  %>

  <%= simple_form_for(@event) do |f| %>
    <%= f.input :event_name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :start_date %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back to Events", events_path %>

<% end %>
