<div class="container visitors-container" style="width: 95%;">
    <h2 id="tagline" >Building Happier Remote Teams, One Spark at a Time </h2>
  <div class='d-flex justify-content-between'>


    <div class='left-visitor'>
    <h5> Well-being tool for remote teams</h5>
    <div class="copy">
    <p > GloWork helps remote teams stay connected and motivated through quick mood check-ins and anonymous feedback. It gives managers real-time insights and simple, team-driven actions to boost well-being and engagement.</p>
    <%= image_tag asset_path("remoteteam.png"), class: "visitor-image" %>
    </div>

    </div>


    <div class='gap-visitor'></div>

    <div class='right-visitor-outside'>

    <div class='right-visitor'>
    <h3> Sign in to your account </h3>
    <p id="signin-text"> Your workplace should have signed you up to GloWork with your company email. Please log in using the email (and initial password) your company provided. </p>
    <div class="login-form">
    <%= form_for(User.new, url: new_user_session_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email", id: "visitor-form-field"  %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "••••••", id: "visitor-form-field"  %>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>


    </div>
  </div>
</div>
