<div class="simple-calendar">
  <div class="calendar-heading">
    <p class="calendar-title">
    <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </p>

    <nav>
    <div class="month-navs">
      <p><%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view %></p>
      <p> Today<%= link_to t('simple_calendar.today'), calendar.url_for_today_view %></p>
      <p> >> <%= link_to t('simple_calendar.next'), calendar.url_for_next_view %></p>
      </div>
    </nav>
  </div>

  <table class="calendar-table-event">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th>
          <p id="day-names"> <%= t('date.abbr_day_names')[day.wday] %> </p>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
