<div class="simple-calendar">
  <div class="calendar-heading">
    <h5>
  <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title">
   <%= t('date.month_names')[start_date.month].to_s.upcase %> <%= start_date.year %>
    </time>
  </h5>
    </time>
      <nav>
      <p id="back-icon"><%= link_to calendar.url_for_previous_view do %>
        <i class="fa-solid fa-caret-left"></i>
      <% end %></p>

      <p id="today-icon"><%= link_to calendar.url_for_today_view do %>
        <i class="fa-solid fa-circle"></i>
      <% end %></p>

      <p id="forward-icon"><%= link_to calendar.url_for_next_view do %>
        <i class="fa-solid fa-caret-right"></i>
      <% end %></p>
    </nav>

  </div>

  <table class="calendar-table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>

        <% week.each do |day| %>
  <% classes = calendar.td_classes_for(day) %>
  <% classes << 'top-left' if day == date_range.first %>
  <% classes << 'top-right' if day == date_range[6] %>
  <% classes << 'bottom-left' if day == date_range[-7] %>
  <% classes << 'bottom-right' if day == date_range.last %>

  <%= content_tag :td, class: classes, data: { date: day.strftime('%Y-%m-%d') } do %>
  <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
<% end %>
<% end %>



        </tr>
      <% end %>
    </tbody>
  </table>
</div>










