<div id="likes-count-<%= suggestion.id %>">
<% if suggestion.likes.exists? %>
  <div>
      <%= button_to suggestion_likes_path(suggestion),
                  method: :delete,
                  remote: true,
                  class: "btn btn-like" do %>
            <p> <i class="fa-solid fa-heart"></i> ( <%= suggestion.likes.count %> ) </p>
      <% end %>
    </div>
<% else %>
    <div>
      <%= button_to suggestion_likes_path(suggestion),
                  method: :post,
                  remote: true,
                  class: "btn btn-like" do %>
            <p> <i class="fa-regular fa-heart"></i> ( <%= suggestion.likes.count %> ) </p>
      <% end %>
    </div>

<% end %>
</div>
