<turbo-frame id="suggestion_<%= suggestion.id %>">
  <div class="suggestion-box" data-controller="comments">
    <h5><%= suggestion.suggestion %></h5>

    <div class="info-bar d-flex justify-content-between">
      <div class="date-comments d-flex align-items-center gap-3">


        <div >
         <%= render partial: "suggestions/likes", locals: { suggestion: suggestion }%>
        </div>

        <div >
         <%= render partial: "suggestions/comment_counter", locals: { suggestion: suggestion }%>
        </div>


        <p><%= suggestion.created_at.strftime("%-d %B %Y") %></p>
      </div>

      <div class="actioned d-flex align-items-center gap-2">
        <% if current_user.admin? %>
          <% if suggestion.actioned.nil? %>
            <%= button_to "✅", suggestion_path(suggestion), method: :patch, params: { suggestion: { actioned: true } }, form: { data: { turbo: true } }, class: "tick-btn" %>
            <%= button_to "❌", suggestion_path(suggestion), method: :patch, params: { suggestion: { actioned: false } }, form: { data: { turbo: true } }, class: "cross-btn" %>
          <% else %>
            <%= suggestion.actioned ? "✅" : "❌" %>
          <% end %>
        <% else %>
          <%= suggestion.actioned ? "✅" : "❌" %>
        <% end %>
      </div>
    </div>


    <div data-comments-target="container", class="hidden">
      <!-- Comments Section -->
      <div id="comments_section_<%= suggestion.id %>" >
        <%= render partial: "suggestions/comment", collection: suggestion.suggestion_comments %>
      </div>

    <!-- Comment Form -->
      <div id="comment_form_<%= suggestion.id %>" >
        <%= render partial: "suggestions/comment_form", locals: { suggestion: suggestion } %>
      </div>
    </div>
  </div>
</turbo-frame>
