<%= form_with(model: [suggestion, SuggestionsComment.new], local: true) do |form| %>
  <%= form.text_area :comment, placeholder: "Add a comment..." %>
  <%= form.submit "Post" %>
<% end %>
<% suggestion.suggestions_comments.each do |comment| %>
  <p><%= comment.comment %> </p>
  <% if comment.user == current_user %>
    <%= button_to "Delete", suggestions_comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
