<turbo-frame id="suggestion_<%= suggestion.id %>">

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true" data-controller="suggestions-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you s
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

        <form method="post" data-suggestions-modal-target="form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag "suggestion[actioned]", "", data: { suggestions_modal_target: "actionedField" } %>
          <input type="hidden" name="_method" value="patch">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>







  <div class="suggestion-box" data-controller="comments">
    <h5><%= suggestion.suggestion %></h5>

    <div class="info-bar d-flex justify-content-between">
      <div class="date-comments d-flex align-items-center gap-3">


        <div >
         <%= render partial: "suggestions/likes", locals: { suggestion: suggestion }%>
        </div>

        <div >
         <%= render partial: "suggestions/comment_counter", locals: { suggestion: suggestion }%>
        </div>


        <p><%= suggestion.created_at.strftime("%-d %B %Y") %></p>
      </div>

      <div class="actioned d-flex align-items-center gap-2">
        <% if current_user.admin? %>
          <% if suggestion.actioned.nil? %>

        <button type="button" class="btn btn-success tick-btn"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
          data-actioned="true"
          data-suggestion-id="<%= suggestion.id %>">
            ✅
        </button>

        <button type="button" class="btn btn-danger cross-btn"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
          data-actioned="false"
          data-suggestion-id="<%= suggestion.id %>">
            ❌
        </button>


          <% else %>
            <%= suggestion.actioned ? "✅" : "❌" %>
          <% end %>
        <% else %>
          <%= suggestion.actioned ? "✅" : "❌" %>
        <% end %>
      </div>
    </div>


    <div data-comments-target="container", class="hidden">
      <!-- Comments Section -->
      <div id="comments_section_<%= suggestion.id %>" >
        <%= render partial: "suggestions/comment", collection: suggestion.suggestion_comments %>
      </div>

    <!-- Comment Form -->
      <div id="comment_form_<%= suggestion.id %>" >
        <%= render partial: "suggestions/comment_form", locals: { suggestion: suggestion } %>
      </div>
    </div>
  </div>
</turbo-frame>
