<!DOCTYPE html>
<html>
  <head>
    <title>GloWork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
   <% unless current_page?(new_moodtracker_path) %>
      <%= render "shared/navbar" %>
    <% end %>

    <% if user_signed_in? && !current_page?(new_moodtracker_path) %>
      <%= render 'shared/mood_bar', color_team: @color_team, color_company: @color_company, emoji_team: @emoji_team, emoji_company: @emoji_company%>
    <% end %>


    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <%= yield %>


    <div class="footer">
    <%= render "shared/footer" %>
    </div>

  </body>
</html>
